In [42]:
import pandas
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [43]:
# Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [44]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [45]:
# Encode the categorical data
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [46]:
# One hot encode the geography column

onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [47]:
## Combine one hot encoded columns with original data
data = pd.concat([data.drop(['Geography'], axis =1), geo_encoded_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [48]:
# Split the data into training and testing sets

X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
## Save the encoders and scaler for later use
with open('label_encoder_gender.pk', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pk', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem Statement

In [50]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
## Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) ## Output layer for Regression
])

## Compile the model
model.compile(optimizer ='adam', loss='mean_absolute_error', metrics = ['mae'])

model.summary()

C:\Users\mitta\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [57]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up Tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [58]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience =10, restore_best_weights=True)

In [59]:
## Train the model
history = model.fit(
    X_train, y_train,
    validation_data =(X_test, y_test),
    epochs =100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100386.7422 - mae: 100386.7422 - val_loss: 98453.0156 - val_mae: 98453.0156
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 100250.2031 - mae: 100250.2031 - val_loss: 96520.3203 - val_mae: 96520.3203
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 96659.2031 - mae: 96659.2031 - val_loss: 91674.5078 - val_mae: 91674.5078
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 89833.7734 - mae: 89833.7734 - val_loss: 83926.9219 - val_mae: 83926.9219
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 82663.8438 - mae: 82663.8438 - val_loss: 74399.0391 - val_mae: 74399.0391
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 73151.2500 - mae: 73151.2500 - val_loss: 65335.3711 - val_mae: 65335.3711
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 64132.2891 - mae: 64132.2891 - val_loss: 58095.3906 - val_mae: 58095.3906
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 57367.6758 - mae: 57367.6758 - val_loss: 53873.8047 - val_mae: 53873.8047
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 53304.7617 - mae: 53304.7617 - val_loss: 51970.3125 - val_mae: 51970.3125
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51959.9375 - mae: 51959.9375 - val_loss: 51351.8398 - val_mae: 51351.8398
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50438.2383 - mae: 50438.2383 - val_loss: 51133.2188 - val_mae: 51133.2188
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50425.6328 - mae: 50425.6328 - val_loss: 51022.7852 - val_mae: 51022.7852
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50197.0078 - mae: 50197.0078 - val_loss: 50943.2070 - val_mae: 50943.2070
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49895.7305 - mae: 49895.7305 - val_loss: 50886.9258 - val_mae: 50886.9258
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49976.2305 - mae: 49976.2305 - val_loss: 50836.7305 - val_mae: 50836.7305
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50186.7891 - mae: 50186.7891 - val_loss: 50800.4766 - val_mae: 50800.4766
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49886.8203 - mae: 49886.8203 - val_loss: 50762.8672 - val_mae: 50762.8672
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49976.9062 - mae: 49976.9062 - val_loss: 50738.3242 - val_mae: 50738.3242
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49764.9609 - mae: 49764.9609 - val_loss: 50705.8906 - val_mae: 50705.8906
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49516.9727 - mae: 49516.9727 - val_loss: 50679.2227 - val_mae: 50679.2227
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50576.8711 - mae: 50576.8711 - val_loss: 50670.2773 - val_mae: 50670.2773
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50275.9336 - mae: 50275.9336 - val_loss: 50651.1758 - val_mae: 50651.1758
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49585.5156 - mae: 49585.5156 - val_loss: 50632.2695 - val_mae: 50632.2695
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49743.4609 - mae: 49743.4609 - val_loss: 50611.6406 - val_mae: 50611.6406
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49862.2930 - mae: 49862.2930 - val_loss: 50595.2070 - val_mae: 50595.2070
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49489.8438 - mae: 49489.8438 - val_loss: 50583.7930 - val_mae: 50583.7930
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49478.7539 - mae: 49478.7539 - val_loss: 50556.8711 - val_mae: 50556.8711
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49758.3672 - mae: 49758.3672 - val_loss: 50544.0234 - val_mae: 50544.0234
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49911.0781 - mae: 49911.0781 - val_loss: 50529.9102 - val_mae: 50529.9102
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49553.0352 - mae: 49553.0352 - val_loss: 50518.9805 - val_mae: 50518.9805
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49345.7773 - mae: 49345.7773 - val_loss: 50497.7656 - val_mae: 50497.7656
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49666.5508 - mae: 49666.5508 - val_loss: 50489.7266 - val_mae: 50489.7266
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49337.0859 - mae: 49337.0859 - val_loss: 50483.2656 - val_mae: 50483.2656
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48815.1953 - mae: 48815.1953 - val_loss: 50486.5312 - val_mae: 50486.5312
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49235.0938 - mae: 49235.0938 - val_loss: 50465.8320 - val_mae: 50465.8320
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49034.6758 - mae: 49034.6758 - val_loss: 50469.8672 - val_mae: 50469.8672
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49435.5039 - mae: 49435.5039 - val_loss: 50461.4219 - val_mae: 50461.4219
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49512.2695 - mae: 49512.2695 - val_loss: 50461.0273 - val_mae: 50461.0273
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49921.3125 - mae: 49921.3125 - val_loss: 50468.0742 - val_mae: 50468.0742
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49260.8984 - mae: 49260.8984 - val_loss: 50454.4492 - val_mae: 50454.4492
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49726.4609 - mae: 49726.4609 - val_loss: 50448.2578 - val_mae: 50448.2578
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49815.4062 - mae: 49815.4062 - val_loss: 50434.6133 - val_mae: 50434.6133
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49592.2734 - mae: 49592.2734 - val_loss: 50442.9336 - val_mae: 50442.9336
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49022.0742 - mae: 49022.0742 - val_loss: 50430.4375 - val_mae: 50430.4375
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49034.5508 - mae: 49034.5508 - val_loss: 50430.1953 - val_mae: 50430.1953
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49244.0000 - mae: 49244.0000 - val_loss: 50437.3867 - val_mae: 50437.3867
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49473.7539 - mae: 49473.7539 - val_loss: 50436.7305 - val_mae: 50436.7305
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49174.5586 - mae: 49174.5586 - val_loss: 50430.3047 - val_mae: 50430.3047
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49591.6836 - mae: 49591.6836 - val_loss: 50444.2852 - val_mae: 50444.2852
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49277.3633 - mae: 49277.3633 - val_loss: 50447.5234 - val_mae: 50447.5234
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49681.9922 - mae: 49681.9922 - val_loss: 50459.6328 - val_mae: 50459.6328
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48807.1328 - mae: 48807.1328 - val_loss: 50454.8164 - val_mae: 50454.8164
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49155.9531 - mae: 49155.9531 - val_loss: 50437.0625 - val_mae: 50437.0625
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48904.0898 - mae: 48904.0898 - val_loss: 50438.2930 - val_mae: 50438.2930
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49415.5820 - mae: 49415.5820 - val_loss: 50444.3320 - val_mae: 50444.3320

In [60]:
%load_ext tensorboard

In [61]:
%tensorboard --logdir regressionlogs/fit

In [63]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51279.7617 - mae: 51279.7617
Test Loss: 50430.1953125
Test MAE: 50430.1953125

In [64]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.